body{
    background-color: rgb(214, 226, 240);
}

.todo-el-contenido{  
  display:flex;
  justify-content:space-between;
  background-color:black;
}

.enlaces{
    text-align:center; 
    margin-top: 60px;
}

.enlaces li{
    display: inline;
    margin-right: 5px;
    justify-content:center;
}

.logotipo{
    cursor: pointer;
}
img{
    width: 100px; 
    height: 100px;
}

.barra-busqueda{ 
    
    text-align:center; 
    margin-top: 60px;  
}
